/* 清除默认样式的代码 */
/* 去除常见标签默认的 margin 和 padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
input {
	margin: 0;
	padding: 0;
}

/* 內减模式 */
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

/* 设置网页统一的字体大小、行高、字体系列相关属性 */
body {
	font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
		"Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	color: #333;
	background-color: #eef0f4;
	padding-top: 60px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

/* 去除列表默认样式 */
ul,
ol {
	list-style: none;
}

/* 去除默认的倾斜效果 */
em,
i {
	font-style: normal;
}

/* 去除a标签默认下划线，并设置默认文字颜色 */
a {
	text-decoration: none;
	color: #333;
}

/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */
img {
	width: 100%;
	vertical-align: middle;
}

/* 去除input默认样式 */
input {
	border: none;
	outline: none;
	color: #333;
}

/* 左浮动 */
.fl {
	float: left;
}

/* 右浮动 */
.fr {
	float: right;
}

/* 双伪元素清除法 */
.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

button {
	border: none;
}

.one-overflow-space {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hoverImg {
	overflow: hidden;
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
}

/* .hoverImg:hover {
	transform: translateY(-5px);
} */

.hoverImg img {
	width: 100%;
	height: auto;
	transition: transform 0.5s ease;
}

.hoverImg:hover img {
	transform: scale(1.05);
}

.w {
	width: 1140px;
	margin: auto;
}

.bgText {
	color: #d73470;
}

header {
	background: linear-gradient(90deg, #dceaf7, #5096d9);
	height: 60px;
	/* padding: 0 20px; */
	width: 100%;
	position: fixed;
	/* 始终固定定位 */
	top: 0;
	left: 0;
	z-index: 1000;
	border-bottom: 3px solid #527bbd;
	;
}

.cHnav {
	justify-content: space-between;
	align-items: center;
	display: flex;
	width: 1250px;
}


.logo {
	height: 50px;
}

.logo img {
	height: 100%;
}

.nav {
	display: flex;
}

.nav li {
	padding: 0 20px;
}

.nav li a {
	font-size: 20px;
}



